:root{
	--grey-background: rgba(237,237,237,1.00);

	--button-gradient: linear-gradient(to right, rgba(38,113,136,1.00), rgba(56,163,182,1.00));

	--button-gradient-hover: linear-gradient(to right, rgba(56,163,182,1.00), rgba(56,163,182,1.00));
}

@media(max-width: 800px) {
    .modal {
        height: calc(100% - 110px);
/*        height: 100%;*/
    }
    .modal-profile-img {
        width: 80px;
        height: 100px;
        padding-top: 20px;
        /* padding is applied inside the image, therefore this is subtracted from the height*/
    }
    ul, ol {
      margin-left: 0;
      padding-left: 10px; /* controls how far list items are inset */
    }
    .climber-response p,  .modal-content p {
        font-size: 0.7em;
/*        background-color: red;*/
    }
    .modal #modal_content_section {
        padding-top: 30px;
/*        font-size: 0.7em;*/
/*        background-color: red;*/
    }
    .modal p,
    .modal #modal_content_section p,
    .modal .choice_option p,
    .modal .choice_option_content,
    .modal #modal_content_section ul,
/*    .modal .teamSelectButton p,*/
    .modal .teamSelectButton h4,
    .quizQuestion p,
    .modal form
    {
/*        padding-top: 30px;*/
        font-size: 0.9em;
/*        background-color: red;*/
    }
    .modal .teamSelectText p {
        font-size: 0.7em;
/*        background-color: grey;*/
    }
    .modal_content h3 {
        font-size: 1rem;
    }
        font-size: 1.3rem;
        width: 100%;
        margin: 0.5rem auto;
    }
    .profile-header p {
        font-size: 1rem;
    /*    background-color: blue;*/
        margin: 0 auto;
    }

    .nav-header-container h1 {
/*        background-color: pink;*/
        font-size: 1.5rem;
    }
    .nav-header-container-resources {
        height: 70px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: white;
/*        background-color: yellow;*/
/*        opacity: 0.6;*/
/*        position: fixed;*/
/*        top: 0;*/
/*        left: 0;*/
/*        right: 0;*/
        /* overridden by JS when scrollbar exists */
/*        height: 70px;*/
        box-sizing: border-box;
        z-index: 1000;
    }

    .nav-header-container-resources.mini {
        height: 46px;
        padding: 0px;
    }

    .nav-header-container-resources.mini h1 {
        font-size: 1.3em;
    }

    .nav-header-container-resources.mini .back-btn-title-bar {
        padding-top: 14px;
    }

    .nav-header-container-resources.mini .back-btn img {
        width: calc(100% - 10px);
        margin: 5px;
    }

    .nav-header-container-resources.mini .back-btn {
        width: 40px;
        height: 40px;
        padding: 0px;
        margin-left: 10px;
    }

    .resources-profile-navbtn {
        background-color: var(--grey-background);
    }

    .resources-grid {
        padding-top: 80px;
        top: 0px;
    }
    .resources-grid .main-content {
        top: 0px;
    }

    .resources-grid.mini {
        padding-top: 110px;
        padding-top: 280px;
        padding-top: 180px;
    }

    .resources-grid .resources-profile-header {
        z-index: 999999999;
    }

    .resources-grid.mini .resources-profile-header {
        position: fixed;
        top: 30px;
        top: 46px;
        left: 0px;
        padding: 6px;
        width: calc(100% - 40px);
        height: 140px;
        margin: 0 20px;
/*        background-color: red;*/
    }

    .resources-grid.mini .main-content {
        padding-top: 43px;
    }
    .resources-grid.mini .main-content-sub {
        padding-top: 3px;
        margin-top: 0;
    }

    .resources-grid.mini .profile-icon {
        width: 60px;
        padding-top: 0px;
    }

    .resources-grid.mini h2 {
        font-size: 1em;
        margin: 3px;
    }

    .resources-grid.mini .resources-profile-header p {
        font-size: 0.8em;
        margin: 3px;
    }
}
