.body-map {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#27376f, #0099c4, #0099c4);
/*    height: 100vh;*/
    padding: 0;
}

.map-pointer-container {
/*    position: relative;*/
    position: absolute;
    width: 60px;
    height: 83px;
    /* jh */
    z-index: 0;
/*    box-shadow: 2px 2px;*/
}

.map-pointer {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.map-pointer-profile {
    position: absolute;
    width: 80%;
    display: block;
    margin: 10% auto 0;
    background-color: lightgray;
    border-radius: 50%;
    z-index: 1;
/*     jh */
    margin: 10%;
}


.map-pointer-container svg {
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.85);
}


.mountain {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-position: center;
    background-size: cover;
    background-image: url(../../assets/K2-MountainProgress.png);
}
.mountain-overlay {
  position: absolute;
  inset: 0; /* shorthand for top/right/bottom/left: 0 */
  background-color: rgba(0, 0, 0, 0); /* your tint color */
  pointer-events: none; /* ensures it doesn't block clicks */
  z-index: 3;
}
.mountain {
    width: 100%;
    height: 100%;
}

.mountain-progress {
    height: 100%;
    width: 100%;
    border: 2px solid pink;
}
#climbzone {
    display: none;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
/*    background-color: rgba(255, 192, 203, 0.69);*/
}
#climby {
    position: inherit;
    width: 100%;
    height: 50%;
    top: 30%;
    background-color: rgba(128, 0, 128, 0.59);
}
#mapzone {
    position: absolute;
    display: none;
    z-index: 3; /* Ensure it overlays the mountain */
/*    border: 2px solid rgba(154, 232, 255, 0.51);*/
/*    background-color: rgba(255, 255, 255, 0.18);*/
    top: 30%; /* Adjust these percentages */
    left: 25%;
    left: calc(50% - 175px);
    width: 50%;
    width: 350px;
    height: 50%; /* Based on the climbable area of the mountain */
    height: 500px;
}
#toyClimbers {
    width: 100%;
    height: 100%;
/*    background-color: red;*/
}
.toyClimber {
    position: absolute;
    width: 16px;
    height: 22px;
/*    width: 22px;*/
/*    height: 30px;*/
    z-index: -1; /* negative value keeps the toys behind the real climbers */
/*    background-color: orange;*/
/*    background-image: url(../../assets/icons/Icons_Pointer.png);*/
    background-image: url(../../assets/icons/Icons_ToyClimber.png);
/*    background-size: 100px 100px;*/
/*    box-shadow: 1px 1px black;*/
    background-size: contain;
/*    background-size: cover;*/
    background-repeat: no-repeat;
}

