<div class="leaderboard-first">
    <h2>1st</h2>
    <div class="winner-box">
        <img src="assets/profiles/profileimages_{{filename}}.png" />
        <img id="trophy" src="assets/icons/wreath.png" alt="Wreath icon" />
    </div>
    <h3>{{name}}</h3>
    <p>{{allDelaysSumFormat}} penalties</p>
    <p>{{lbTime}}</p>
</div>
