<div id='climberDetailPanel'>
    <div class="grid">
        <div class="left">
            <div class="graphic"><img src='assets/icons/Icons_Oxygen.png' /></div>
        </div>
        <div class="right" id='detail_oxygen'>{{quantumOxygen}}</div>
        <div class="left">
            <div class="graphic"><img src='assets/icons/Icons_Sustenance.png' /></div>
        </div>
        <div class="right" id='detail_sustenance'>{{quantumSustenance}}</div>
        <div class="left detail_rope">
            <div class="graphic"><img src='assets/icons/Icons_Rope.png' /></div>
        </div>
        <div class="right detail_rope" id='detail_rope'>{{quantumRope}}</div>
    </div>
</div>
