<div class='dieimg' id='dieimg_1'><img src='assets/dice/diejhroll_vs30001.png'></div>
<div class='dieimg' id='dieimg_2'><img src='assets/dice/diejhroll_vs30002.png'></div>
<div class='dieimg' id='dieimg_3'><img src='assets/dice/diejhroll_vs30003.png'></div>
<div class='dieimg' id='dieimg_4'><img src='assets/dice/diejhroll_vs30004.png'></div>
<div class='dieimg' id='dieimg_5'><img src='assets/dice/diejhroll_vs30005.png'></div>
<div class='dieimg' id='dieimg_6'><img src='assets/dice/diejhroll_vs30006.png'></div>
<div class='dieimg' id='dieimg_7'><img src='assets/dice/diejhroll_vs30007.png'></div>
<div class='dieimg' id='dieimg_8'><img src='assets/dice/diejhroll_vs30008.png'></div>
<div class='dieimg' id='dieimg_9'><img src='assets/dice/diejhroll_vs30009.png'></div>
<div class='dieimg' id='dieimg_10'><img src='assets/dice/diejhroll_vs30010.png'></div>
<div class='dieimg' id='dieimg_11'><img src='assets/dice/diejhroll_vs30011.png'></div>
<div class='dieimg' id='dieimg_12'><img src='assets/dice/diejhroll_vs30012.png'></div>
<div class='dieimg' id='dieimg_13'><img src='assets/dice/diejhroll_vs30013.png'></div>
<div class='dieimg' id='dieimg_14'><img src='assets/dice/diejhroll_vs30014.png'></div>
<div class='dieimg' id='dieimg_15'><img src='assets/dice/diejhroll_vs30015.png'></div>
<div class='dieimg' id='dieimg_16'><img src='assets/dice/diejhroll_vs30016.png'></div>
<div class='dieimg' id='dieimg_17'><img src='assets/dice/diejhroll_vs30017.png'></div>
<div class='dieimg' id='dieimg_18'><img src='assets/dice/diejhroll_vs30018.png'></div>
<div class='dieimg' id='dieimg_19'><img src='assets/dice/diejhroll_vs30019.png'></div>
<div class='dieimg' id='dieimg_20'><img src='assets/dice/diejhroll_vs30020.png'></div>
<div class='dieimg' id='dieimg_21'><img src='assets/dice/diejhroll_vs30021.png'></div>
<div class='dieimg' id='dieimg_22'><img src='assets/dice/diejhroll_vs30022.png'></div>
<div class='dieimg' id='dieimg_23'><img src='assets/dice/diejhroll_vs30023.png'></div>
<div class='dieimg' id='dieimg_24'><img src='assets/dice/diejhroll_vs30024.png'></div>
