<button class="dieroll btn dice" id="dice{{profile}}">click me</button>
<div class='preload' id='diePreload'>
    <img src='assets/dice/diejhroll1.svg'>
    <img src='assets/dice/diejhroll2.svg'>
    <img src='assets/dice/diejhroll3.svg'>
    <img src='assets/dice/diejhroll4.svg'>
    <img src='assets/dice/diejhroll5.svg'>
    <img src='assets/dice/diejhroll6.svg'>
    <img src='assets/dice/diejhroll7.svg'>
    <img src='assets/dice/diejhroll8.svg'>
    <img src='assets/dice/diejhroll9.svg'>
    <img src='assets/dice/diejhroll10.svg'>
    <img src='assets/dice/diejhroll11.svg'>
    <img src='assets/dice/diejhroll12.svg'>
</div>
