<button class="dieroll btn dice" id="dice{{profile}}">click me</button>
<!--<div class='preload' id='diePreload'>-->
    <div class='dieimg' id='dieimg_1'><img src='assets/dice/diejhroll1.svg'></div>
    <div class='dieimg' id='dieimg_2'><img src='assets/dice/diejhroll2.svg'></div>
    <div class='dieimg' id='dieimg_3'><img src='assets/dice/diejhroll3.svg'></div>
    <div class='dieimg' id='dieimg_4'><img src='assets/dice/diejhroll4.svg'></div>
    <div class='dieimg' id='dieimg_5'><img src='assets/dice/diejhroll5.svg'></div>
    <div class='dieimg' id='dieimg_6'><img src='assets/dice/diejhroll6.svg'></div>
    <div class='dieimg' id='dieimg_7'><img src='assets/dice/diejhroll7.svg'></div>
    <div class='dieimg' id='dieimg_8'><img src='assets/dice/diejhroll8.svg'></div>
    <div class='dieimg' id='dieimg_9'><img src='assets/dice/diejhroll9.svg'></div>
    <div class='dieimg' id='dieimg_10'><img src='assets/dice/diejhroll10.svg'></div>
    <div class='dieimg' id='dieimg_11'><img src='assets/dice/diejhroll11.svg'></div>
    <div class='dieimg' id='dieimg_12'><img src='assets/dice/diejhroll12.svg'></div>
<!--</div>-->
