<div class='modal modal-{{type}}'>
    <div class='modal-body modal-alert'>
        <div id='modal_content'>


        </div>
        <div class='modal_content'>


        </div>
    </div>
    <div class='modal-footer' id='modal_footer'>
<!--        <button type="button" class="btn k2-modal-btn">Close</button>-->
    </div>
</div>
