<div class='climber' id='c0'><div class='climber_icon'>A<span class='type'></span></div></div>
<div class='climber' id='c1'><div class='climber_icon'>B<span class='type'></span></div></div>
<div class='climber' id='c2'><div class='climber_icon'>C<span class='type'></span></div></div>
