<div id='timerpanel'>
    <div><span class='label mono wide'>session ends at {{gameTime}} minutes</span></div>
    <div><span class='label'>expedition start</span><span class=mono>{{timings.startTime}}</span></div>
    <div><span class='label'>expedition finish</span><span class=mono>{{timings.endTime}}</span></div>
    <div><span class='label'>live timings:</span></div>
    <div><span class='label'></span><span class='mono theader'>mm:ss</span></div>
    <div><span class='label'>realtime:</span><span class='mono' id='timereal'>00:00</span></div>
    <div><span class='label'>sessiontime:</span><span class='mono' id='timesession'>00:00</span></div>
    <div><span class='label'></span><span class='mono theader'>hh:mm:ss</span></div>
    <div><span class='label'>gametime:</span><span class='mono' id='timegame'>00:00:00</span></div>
    <div class='bold'><span class='label'>game minutes:</span><span class='mono' id='minutesgame'>00:00:00</span></div>
</div>
