The game time is currently set to {{gameTime}} minutes, would you like to change this?
<form>
    <input type='number' id='gTimeVal' value='{{gameTime}}'>
    <input type='submit' id='gTimeSubmit' value='Submit'>
</form>
