<div class='heading'>logs:</div>
<div class='link' id='clear'>clear</div>
<div class='link' id='toggle'>hide/show</div>
{{#each logs}}<div class='log type{{this.type}}' style='background-image: url(../assets/profiles/ProfileImages_{{img}}.png);'>{{this.msg}}</div>{{/each}}
