<div class="main-background">
	<div class="desktop-fade-bg">

		<!-- Page Header -->

		<div class="nav-header-container dark-text" id="page-top">
			<div class="back-btn-title-bar">
				<h1>Set up</h1>
			</div>
		</div>

		<!-- Main Content -->

		<div class="main-content">
			<div class="content-block set-up center">
				<p>You are special advisor to</p>
				<img src="assets/flags/Flags_{{team.adjective}}.png" alt="Team country flag"/>
				<h2>The <span class='dyno'>{{team.adjective}}</span> Team</h2>
				<p>As the Special Advisor in the K2 Simulation, you serve as a trusted guide, helping your team navigate complex and unpredictable scenarios. Your ultimate objective is to ensure that all three climbers successfully reach the summit and return safely, while expertly steering them through any challenges or emerging situations along the way.</p>
			</div>
			<div class="content-block">

				<a class="set-up-btn" id='btn-team'><img src="assets/icons/Icons_TeamIcon-Black.png" alt="Team icon"/>Your team</a>
				<a class="set-up-btn" id='btn-resources'><img src="assets/icons/Icons_ResourcesIcon-Black.png" alt="Team icon"/>Resources</a>
<!--				<a class="set-up-btn" id='btn-map'><img src="assets/icons/Icons_MapIcon-Black.png" alt="Team icon"/>Map</a>-->
				<a class="set-up-btn" id='btn-start'>Start climbing!</a>
			</div>
		</div>
	</div>
</div>
