    <div class="main-background">
	<div class="desktop-fade-bg">

		<!-- Page Header -->

		<div class="nav-header-container dark-text" id="page-top">
			<div class="back-btn-title-bar">
				{{!-- <h1>Set up</h1> --}}
			</div>
		</div>

		<!-- Main Content -->

		<div class="main-content">
			<div class="content-block set-up center">
				<p>You’ve joined this expedition as special advisor to</p>
				<img src="assets/flags/Flags_{{team.adjective}}.png" alt="Team country flag" id="teamflag"/>
				<h2>The <span class='dyno'>{{team.adjective}}</span> Team</h2>
				<p>Your goal is to equip your climbers for this perilous journey and guide them through the challenges they will face.</p>
				<p>Your climbers may not always listen, but it is still your job to guide them all safely up and down the mountain. Keep your eyes peeled for unexpected challenges and opportunities.</p>
			</div>
			<div class="content-block">

				<button type="button" class="set-up-btn" id='btn-team'><img src="assets/icons/Icons_TeamIcon-Black.png" alt="Team icon"/>Your team</button>
				<button type="button" class="set-up-btn" id='btn-resources'><img src="assets/icons/Icons_ResourcesIcon-Black.png" alt="Resources icon"/>Resources</button>
<!--				<a class="set-up-btn" id='btn-map'><img src="assets/icons/Icons_MapIcon-Black.png" alt="Team icon"/>Map</a>-->
				<button type="button" class="set-up-btn" id='btn-start'>Start climbing!</button>
			</div>
		</div>
	</div>
</div>
