{{> howheader}}
            <div class="main-content how2play-content">
                <img src="../assets/how2play/K2_how2play-a.png" />
                <h2 style="text-align: center;">Get to know your team</h2>
                <p>Each expedition has three climbers and a special advisor (which is you).</p>

                <p>Explore your team’s profiles to become acquainted with who you are managing.</p>

                <p>Each profile has unique information about their experience, strengths, and weaknesses.
                </p>
                {{> howlinks}}

            </div>
{{>howfooter}}
