{{>howheader}}
	<!-- Main Content -->
<div class="main-content how2play-content">
	<img src="../assets/how2play/K2_how2play-b.png"/>
	<h2 style="text-align: center;">Manage your resources</h2>
	<p>Choose the best load for each of your climbers before you start climbing. If you have left over space, you can allocate extra resources to be further prepared for the unexpected. Once this has been set, it cannot be changed.</p>

	<p>Every 10 mins, you use 1 oxygen unit, every 20 mins you use 1 sustenance unit. Emergency rope is used to solve section problems.
	</p>
	{{> howlinks}}

</div>
{{>howfooter}}
