{{>howheader}}
	<!-- Main Content -->
<div class="main-content how2play-content">
	<img src="../assets/how2play/K2_how2play-c.png"/>
	<h2 style="text-align: center;">Monitor your team</h2>
	<p>Keep a close eye on all the climbers in your team and help them work through any problems they may encounter en route.</p>

	<p>You will be able to see where the other climbing teams are on the map in relation to yours, but you are only responsible for your own.</p>

	<p>You cannot return to a previous section.</p>
	{{> howlinks}}

</div>
{{>howfooter}}
