{{>howheader}}
	<!-- Main Content -->
<div class="main-content how2play-content">
	<img src="../assets/how2play/K2_how2play-d.png"/>
	<h2 style="text-align: center;">Requests for assistance</h2>
	<p>You will see a head bubble appear on your screen when a climber is in need of assistance. Select the bubble to listen to their radio call.</p>

	<p>After the call, you will need to decide how best to assist your climber.</p>

	<p>Solving problems will generally incur additional waiting time or use up your climber’s resources.</p>

	<p>Generally, you will be able to ask fellow climbers in the same section for assistance with a problem, but they can say no to helping you!</p>

	<p>During your climb, you can help other climbers by sharing your resources with them.</p>
	{{> howlinks}}

</div>
{{>howfooter}}
