{{>howheader}}
	<!-- Main Content -->
<div class="main-content how2play-content">
	<img src="../assets/how2play/K2_how2play-e.png"/>
	<h2 style="text-align: center;">Penalties</h2>
	<p>Some decisions in the game involve an element of chance. This is when you will be asked to roll a die to determine what the penalty is and who bears it.</p>

<p>You may have to bear the entire penalty or the climber who assisted you may share it or bear it all themselves.</p>

	<p></p>
    {{> howlinks}}

</div>
{{>howfooter}}
