{{>howheader}}

	<!-- Main Content -->
<div class="main-content how2play-content">
	<img src="../assets/how2play/K2_how2play-f.png"/>
	<h2 style="text-align: center;">Adjusting Resources</h2>
	<p>Your climbers may run out of certain resources during their climb, in which case you will need to decide how best to adjust their resources to ensure they can continue on.</p>

<p>Once you have decided on the adjustment, that climber will have to wait where they are until a Sherpa can bring them their new resources.</p>

<p>You can reduce or increase any of your resources at this moment.</p>

	<p></p>
    {{> howlinks}}

</div>
{{>howfooter}}
