<!--<div class='bg_map'></div>-->
<div class='stormoverlay fullscreen' id='cloudzone'></div>
<div class='lightningoverlay fullscreen lightningzones' id='lightningzonetop'></div>
<div class='lightningoverlay fullscreen lightningzones' id='lightningzone2'></div>
<div class='lightningoverlay fullscreen lightningzones' id='lightningzone1'></div>
<div class='lightninggfx fullscreen lightningzones' id='lightninggfx'></div>
<div class='mountain-overlay'></div>
<div class="mountain">

    <div id='climbzone'><div id='climby'><div id='climbx'></div></div></div>
    <div id='mapzone'>

        {{#each climbers}}
        <div class='devClimberSummary' id='devClimberSummary{{profile}}'>
        {{> map_climber_icon this}}
        </div>
        {{/each}}
        <div id='toyClimbers'></div>
    </div>
</div>
<div class='stormbg fullscreen'></div>
<!-- Page Header -->
<div class="game-progress-container">
    <div class="game-progress-nav">
        <div>
<!--            <a class="back-btn"  title="Previous page"><img alt="Previous page icon" src="assets/buttons/backButton.svg" /></a>-->

            <p class="game-time">00:00</p>
        </div>
    </div>
</div>
