
            <div class="modal-body modal-alert">
                <img class="help-yes" src="assets/icons/Icons_KillerStorm.png" />
                <h3 style="text-align: center;">Killer storm!</h3>
                <p class="text-left">All climbers MUST reach the summit before descending.</p>
                <p class="text-left" style="font-weight: 600;">Use emergency rope</p>
                <p class="text-left">1 rope reduces your climb time by 10 mins, but adds 10 mins to your total time, use as often as you like.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn k2-modal-btn" data-dismiss="modal">NEXT</button>
            </div>
