{{#if isGoal}}
    <div class="modal-body">
        <img src="assets/icons/Icons_GoalIcon.svg" alt="Goal icon" style="display: block; width: 100px; margin: 0 auto;" />
        <h3>Goal</h3>
        <p>Everyone in your team must summit, take a photo, and return to camp IV. The best accumulated team time wins.</p>

    </div>
{{/if}}
{{#if isJourney}}
    <div class="modal-body">
        <img src="assets/icons/Icons_JourneyIcon.png" alt="Journey icon" style="display: block; width: 100px; margin: 0 auto;" />
        <h3>Journey</h3>
        <p>The rope is already fixed to the mountain for your climb and descent. You cannot move back to a previous section.</p>

    </div>
{{/if}}
{{#if isRope}}
    <div class="modal-body">
        <img src="assets/icons/Icons_RopeIcon.png" alt="Rope icon" style="display: block; width: 100px; margin: 0 auto;" />
        <h3>100m Emergency Rope</h3>
        <p>You will only need a maximum of 100 metres emergency rope for the entire journey, across all expedition teams. How will you divide it? Within your own team? Across all other teams?</p>

    </div>
{{/if}}
{{#if isWaitTime}}
    <div class="modal-body">
        <img src="assets/icons/Icons_WaitTimesIcon.png" alt="Wait time icon" style="display: block; width: 100px; margin: 0 auto;" />
        <h3>Delay</h3>
        <p>Certain actions will result in a time penalty for that climber. Until the countdown has ended, that climber will be stuck in their current position.</p>

    </div>
{{/if}}
{{#if isResources}}
    <div class="modal-body">
        <img src="assets/icons/Icons_ResourceSharingIcon.png" alt="Resource Sharing icon" style="display: block; width: 100px; margin: 0 auto;" />
        <h3>Resource monitoring</h3>
        <p>Keep a close eye on your climber’s resources throughout their expedition by tapping or clicking on their icons once they have started their climb. You can hide this information by tapping or clicking on them again if you need to.</p>

    </div>
{{/if}}
{{#if isNoResources}}
    <div class="modal-body">
        <img src="assets/icons/Icons_NoResourcesIcon.png" alt="No resources icon" style="display: block; width: 100px; margin: 0 auto;" />
        <h3>Running Out of Resources</h3>
        <p>If you run out of resources, you must return to Camp IV to resupply. You will not die from a lack of resources but will receive a penalty. The greater the altitude, the greater the penalty.</p>

    </div>
{{/if}}
{{#if isProblems}}
    <div class="modal-body">
        <img src="assets/icons/Icons_ProblemsIcon.png" alt="Section problem icon" style="display: block; width: 100px; margin: 0 auto;" />
        <h3>Problems</h3>
        <p>During the expedition, your climbers will face various problems that will require your assistance. As with most real-world problems, there is an element of chance involved (represented by a die roll) and you will just have to manage the outcome as best you can. Each problem needs to be resolved before you can move on.</p>

    </div>
{{/if}}
