
<br><br>

<div class='quizQuestion'>
   <p>{{question}}</p>
    <div id='answers'>
        <form>
        {{#each options}}
        {{dynamicPartial ../questionPartial this.parent}}
        {{/each}}
        </form>
    </div>
    <!--<div class='bQuiz bQuizSubmit'>Submit</div>-->
    <p id='quizFeedback'></p>
</div>
