<div class='stormcloud cloudleft cloudleftInit cloud1' id='cloud1_1'><p>1</p></div>
<div class='stormcloud cloudright cloudrightInit cloud2' id='cloud2_1'><p>2</p></div>
<div class='stormcloud cloudleft cloudleftInit cloud3' id='cloud3_1'><p>3</p></div>
<div class='stormcloud cloudright cloudrightInit cloud4' id='cloud4_1'><p>4</p></div>
<div class='stormcloud cloudleft cloudleftInit cloud5' id='cloud5_1'><p>5</p></div>
<div class='stormcloud cloudright cloudrightInit cloud6' id='cloud6_1'><p>6</p></div>
<div class='stormcloud cloudright cloudrightInit cloud7' id='cloud7_1'><p>7</p></div>
