html, body {
    background-color: #1e1f21;
    color: #dbdbdb;
}
#qrCodes img {
    width: 200px;
}
#sessionNOPE {
    display: none;
    font-size: 1.1em;
    position: absolute;
    right: 50px;
    top: 50px;
/*    width: 400px;*/
/*    height: 300px;*/
    background-color: black;
    color: white;
    padding: 20px;
}
#sessionPanel table {
    margin-bottom: 20px;
}
#sessionPanel td {
    padding: 0px 15px;
}
.sClickNO {
    user-select: none;
    cursor: pointer;
    transition: color 0.5s ease;
    width: fit-content;
}

.sClick {
    user-select: none;
    cursor: pointer;
    transition: color 0.5s ease;
    width: fit-content;
    display: flex;
    align-items: center;  /* vertical alignment */
}
.resultItem {
  display: grid;
  grid-template-columns: 140px 100px 140px 34px; /* adjust widths as needed */
  align-items: center;
/*    background-color: grey;*/
  gap: 10px;
}

.sClicker:hover {
    color: #04062a;
    color: white;
}
.sClick input[type='checkbox'] {
    margin-left: 0px;
}
.clicked {
    font-weight: bold;
    cursor: default;
    color: #adcefa;
}
#sessionPanel #closer:hover {
    background-color: #bab9b9;
    color: black;
}
#sessionPanel #closer {
    position: absolute;
    right: 20px;
    top: 34px;
    width: 26px;
    height: 26px;
    background-color: grey;
    color: #1d1d1d;
    cursor: pointer;
    transition: background-color 1s;
}
#sessionPanel #closer span {
    position: relative;
    color: black;
    margin-left: 6px;
    top: 2px;
    font-size: 20px;
    font-weight: bold;
}
#sessionPanel .sessionButton {
    width: 200px;
    padding: 6px 20px;
    transition: background-color 1s;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
}
#sessionPanel #download {
    background-color: #1f1f1f;
}
#sessionPanel #download:hover {
    background-color: black;

}
#sessionPanel #delete {
    background-color: #cc0101;
}
#sessionPanel #delete:hover {
    background-color: red;

}

#sessionPanel {
    position: fixed;
    width: fit-content;
    height: fit-content;
    background-color: #343638;
    border-radius: 6px;
    padding: 20px;
    box-shadow: -4px 4px 4px  rgba(0, 0, 0, 0.5);
}
