.message.warning {
    color: red;
}
.message.ok {
    color: green;
}



#temp {
    position: fixed;
    right: 10px;
    top: 50px;
    width: 200px;
    height: 400px;
    background-color: #00a7ff;
}
.climber {
    width: 200px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.19);
    position: absolute;

    bottom: 0px;
    display: none;
}
.climber .climber_icon {
    position: relative;
    width: 20px;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.63);
    border: 1px solid black;
    color: black;
    text-align: center;
    font-size: 16px;
}
.map-pointer-container {
/*    left: 100px;*/
/*    display: none;*/
}
#Pointer_CamilleDuval{
    display: block;
}
#c1 {
/*    left: 40px;*/
}
#c2 {
/*    left: 70px;*/
}
.dyno {
    color: blue;
}
