.message.warning {
    color: red;
}
.message.ok {
    color: green;
}



#temp {
    position: fixed;
    right: 10px;
    top: 50px;
    width: 200px;
    height: 400px;
    background-color: #00a7ff;
}
.climber {
    width: 200px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.19);
    position: absolute;

    bottom: 0px;
    display: none;
}
.climber .climber_icon {
    position: relative;
    width: 20px;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.63);
    border: 1px solid black;
    color: black;
    text-align: center;
    font-size: 16px;
}
.map-pointer-container {
/*    left: 100px;*/
/*    display: none;*/
}
#Pointer_CamilleDuval{
    display: block;
}
#c1 {
/*    left: 40px;*/
}
#c2 {
/*    left: 70px;*/
}
.dyno {
    color: blue;
}
/* climber info labels */
.map-pointer-label {
/*    display: none;*/
    position: absolute;
    bottom: 90px;
    width: 130px;
/*    height: 50px;*/
    height: 79px;
    background-color: rgba(255, 255, 255, 0.71);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    color: black;
    font-size: 11px;
    padding: 2px 0px;
    vertical-align: top;
}
.map-pointer-label p {
    margin: 0px 4px;
}
.map-pointer-label .rAlign {
    color: #012995;
    position: absolute;
/*    right: 40px;*/
    left: 50px;
}
.climberDevIndicator {
/*    dev only; indicates which stage each climber is at (see climber.js updateView method */
    position: absolute;
    top: 5px;
    right: 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    z-index: 100;
/*    background-color: red;*/
}
.toyClimber.delayed {
/*    background-color: rgba(230, 3, 3, 0.65);*/
}
.teamSelectText .canHelp {
    color: green;
}
