#logpanel {
    width: 430px;
    height: 320px;
/*    height: 30px;*/
    height: auto;
    max-height: calc(100vh - 140px);
    left: 30px;
    top: 130px;
    background-color: white;
    box-shadow: -2px 2px 3px rgba(28, 28, 28, 0.85);
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    gap: 2px; /* Space between rows */
    margin: 0;
    overflow-y: scroll;
    pointer-events: all;
}
#logpanel .heading {
    font-weight: bold;
}
#logpanel .link {
    font-weight: bold;
    color: blue;
}

#logpanel > div {
    display: flex; /* Make each child div a flex container */
    align-items: left; /* Align items vertically */
    font-size: 0.8rem;
}

#logpanel .label {
    width: 130px;
    padding-left: 10px;
/*    background-color: yellow;*/
}
#logpanel .label.wide {
    width: 230px;
}
#logpanel .theader {
    color: grey;
}
#logpanel .isBolded span, #logpanel span.isBolded, #logpanel span .isBolded , #logpanel .isBolded  {
    font-weight: bold;
}

#logpanel .log {
    padding-left: 20px;
/*    background-image: url(../assets/profiles/ProfileImages_AdrienRomane.png);*/
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 0px;
}
#logpanel .typea {
    color: rgb(25, 48, 124);
}
#logpanel .typeb {
    color: rgb(25, 97, 124);
}
#logpanel .typec {
    color: rgb(25, 124, 86);
}
