p {
    padding: 0px;
    margin: 0px;
}
* {
    font-size: 12px;
}
td {
    padding: 0px 10px;
}
.tdtime {
    color: grey;
}
.trtrigger .tdmsg {
    color: red;
}
.trcompletion .tdmsg {
    color: green;
}
button {
    margin: 2px;
    padding: 2px 10px;
    font-size: 14px;
    border: 2px solid #007BFF;
    background-color: white;
    color: #007BFF;
    cursor: pointer;
    transition: all 0.3s ease;
}

button.active {
    background-color: #007BFF;
    color: white;
}
