#theatre {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
/*    background-color: green;*/
    z-index: 99999;
    overflow-y: scroll;
/*    pointer-events: none;*/
    z-index: 5;
}
#insertion {
    position: absolute;
    z-index: 10;
/*    display: none;*/
}
.fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparent;
    pointer-events: none;
    z-index: 9999;
    overflow: hidden;
}
#msg {
    display: none;
}
.wrong, p.wrong, .wrong .dyno {
    color: red;
}
#overlay {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 250px;
    width: 150px;
    height: 100px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.58);
    box-shadow: -2px 2px 3px rgba(28, 28, 28, 0.85);
    z-index: 2000;
    display: none;
}
#overlay #close {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
    color: #363636;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    z-index: 2;
}
#overlay button {
    padding-top: 5px;
    display: none;
    position: relative;
}
#overlay #msg {
    padding-top: 30px;
    pointer-events: none;
    color: black;
    position: relative;
/*    top: 35px;*/
    width: 100%;
    z-index: 1;
}
.set-up-btn; disabled {
    opacity: 0.5;
}
.resop {
    cursor: pointer;
}
.resop.disabled {
    cursor: default;
}
.resop.abled:hover {
    background-color: #c7f2ff;
/*    opacity: 0.5;*/
}
.resop.selected {
    background-color: #89dff8;
/*    opacity: 0.5;*/
}
.noselect {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}
.form-submit-btn:disabled {
    cursor: default;
    opacity: 0.6;
}
.form-submit-btn.disabled:hover {
    background-image: var(--button-gradient);
}
p.resource_value {
    font-size: 16px;
    font-weight: bold;
}
.resource_adjust input[type='number'] {
    width: 40px;
}
/* prevent 'up' + 'down' arrow buttons for number inputs */
/* For Chrome, Edge, and Safari */
.resource_adjust input[type="number"]::-webkit-inner-spin-button,
.resource_adjust input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
.resource_adjust input[type="number"] {
    -moz-appearance: textfield;
}
.input-group {
    display: flex; /* Enable flexbox */
    align-items: center; /* Align items vertically */
    gap: 5px; /* Optional: Add space between elements */
    margin: 0px;
}
.input-group label {
    flex-basis: 200px;
    margin-right: 10px; /* Optional: Space between label and input */
}
.input-group input[type="number"] {
    width: 30px; /* Adjust width as needed */
}

.btn {
    cursor: pointer;
}
.k2-modal-btn {
    border: 0px solid white;
    cursor: pointer;
}
.btn:disabled, .k2-modal-btn:disabled {
    cursor: default;
    opacity: 0.6;
    pointer-events: none;
}


.adjust_btn {
    width: 20px; /* Set width of the buttons */
    height: 20px; /* Set height of the buttons */
    background-color: #ccc; /* Example styling */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 3px; /* Optional: Rounded corners */
}
.adjust_btn.minus::after {
    content: "-"; /* Example: Display minus sign */
}

.adjust_btn.plus::after {
    content: "+"; /* Example: Display plus sign */
}
.adjust_btn.disabled {
    opacity: 0.5;
    cursor: default;
}

/* modal */
#overlay_modal {
    background-color: rgba(93, 109, 139, 0.28);
/*    background-color: rgba(9, 91, 245, 0.53);*/
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    opacity: 0;
    pointer-events: none;
}
#overlay_modal.clickable {
    /* Make the overlay clickable so it can be closed */
    /* Class to be removed on closedown */
    pointer-events: auto;
/*    background-color: rgba(255, 0, 0, 0.65);*/
}
.modal {
    position: absolute;
    width: 400px;
    height: 600px;
    background-color: white;
    border-radius: 20px;
    box-shadow: -2px 2px 3px rgba(28, 28, 28, 0.85);
    text-align: center;
/*    padding: 20px;*/
/*    border: 1px solid blue;*/
}
.modal-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
#modal_content h1, h2, h3{
    margin-left: 10px;
    margin-right: 10px;
}
#modal_content, .modal {
    pointer-events: all;
}

.dieroll {
    width: 100px; /* Set width of the button */
    height: 100px; /* Set height of the button */
    background-image: url('../assets/icons/icon_die_2.png'); /* Add your graphic */
    background-size: cover; /* Ensure the image covers the button */
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none; /* Optional: remove default button border */
    cursor: pointer; /* Makes it clear it's clickable */

    /* Remove button text */
    text-indent: -9999px; /* Move text far outside view */
    overflow: hidden; /* Prevent text from showing */
    white-space: nowrap; /* Prevent wrapping */
    padding: 0; /* Remove padding to ensure proper alignment */
    margin: 10px;
}
.dieroll.dead {
/*    background-color: red;*/
}
