#theatre {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
/*    background-color: green;*/
    z-index: 99999;
    overflow-y: scroll;
/*    overflow-y: hidden;*/
/*    pointer-events: none;*/
    z-index: 5;
}
#insertion {
    position: absolute;
    z-index: 9999999999;
/*    display: none;*/
}
.fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparent;
    pointer-events: none;
    z-index: 9999;
    overflow: hidden;
}
#msg {
    display: none;
}
.hidden {
    display: none;
}
.wrong, p.wrong, .wrong .dyno {
    color: red;
}
.iframer {
    /* top-level fullscreen div for iframe render */
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
/*    background-color: rgba(255, 255, 255);*/
/*    opacity: 0.5;*/
    margin: 0;
    background-image: url("../../assets/K2-mobile-home-background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* optional: keeps it fixed while scrolling */
    min-height: 100vh; /* body always at least full viewport height */
}
#overlayIframe {
    border: 0px solid black;
    width: 100%;
    height: 100%;
}
#overlay {
    position: absolute;
    top: 70px;
    right: 32px;
    width: 250px;
    width: 150px;
    height: 100px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.58);
    box-shadow: -2px 2px 3px rgba(28, 28, 28, 0.85);
    z-index: 9999999998;
    display: none;
}
#overlay #close {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
    color: #363636;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    z-index: 2;
}
#overlay button {
    padding-top: 5px;
    display: none;
    position: relative;
}
#overlay #msg {
    padding-top: 30px;
    pointer-events: none;
    color: black;
    position: relative;
/*    top: 35px;*/
    width: 100%;
    z-index: 1;
}
.set-up-btn; disabled {
    opacity: 0.5;
}
.resop {
    cursor: pointer;
}
.resop.disabled {
    cursor: default;
/*    color: red;*/
    background-color: #efefef;
    color: grey;
}
.resop.abled:hover {
    background-color: #c7f2ff;
/*    opacity: 0.5;*/
}
.resop.selected {
    background-color: #89dff8;
/*    opacity: 0.5;*/
    color: black;
}
.noselect {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}
.form-submit-btn:disabled {
    cursor: default;
    opacity: 0.6;
}
.form-submit-btn.disabled:hover {
    background-image: var(--button-gradient);
}
p.resource_value {
    font-size: 16px;
    font-weight: bold;
}
.resource_adjust input[type='number'] {
    width: 40px;
}
/* prevent 'up' + 'down' arrow buttons for number inputs */
/* For Chrome, Edge, and Safari */
.resource_adjust input[type="number"]::-webkit-inner-spin-button,
.resource_adjust input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
.resource_adjust input[type="number"] {
    -moz-appearance: textfield;
}
.input-group {
    display: flex; /* Enable flexbox */
    align-items: center; /* Align items vertically */
    gap: 5px; /* Optional: Add space between elements */
    margin: 0px;
}
.input-group label {
    flex-basis: 200px;
    margin-right: 10px; /* Optional: Space between label and input */
}
.input-group input[type="number"] {
    width: 30px; /* Adjust width as needed */
}

.btn {
    cursor: pointer;
}
.k2-modal-btn {
    border: 0px solid white;
    cursor: pointer;
}
.btn:disabled, .k2-modal-btn:disabled {
    cursor: default;
    opacity: 0.6;
    pointer-events: none;
}

#helpbutton {
    position: absolute;
    top: 10px;
    right: 28px;
/*    right: 16px;*/
    width: 40px;
    height: 40px;
/*    background-color: red;*/
    z-index: 9999999;
    cursor: pointer;
    opacity: 0.8;
}
@media(max-width: 800px) {
    #helpbutton {
        right: 16px;
    }
}
#helpbutton:hover {
    opacity: 1;
}

#menu {
    position: absolute;
    right: 30px;
    top: 22px;
    width: 32px;
    height: 32px;
    z-index: 99999999;
/*    background-color: rgba(255, 255, 255, 0.46);*/

    cursor: pointer;
}
#menu img {
    width: 28px;
    float: right;
/*    height: 30px;*/
}

.adjust_btn {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 3px;
}
@media(max-width: 800px) {
    .adjust_btn {
        width: 40px;
        height: 40px;
    }
}
.adjust_btn.minus::after {
    content: "-";
}

.adjust_btn.plus::after {
    content: "+";
}
.adjust_btn.disabled {
    opacity: 0.5;
    cursor: default;
}

/* Climber detail panel (click climber icon) */
.map-pointer-label {
/*    display: none;*/
    position: absolute;
    bottom: 90px;
    width: 60px;
/*    width: 130px;*/
/*    height: 50px;*/
    height: 79px; /* use if rope included */
    height: 56px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.71);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    color: black;
    font-size: 11px;
    padding: 2px 0px;
    vertical-align: top;
}
.map-pointer-label p {
    margin: 0px 4px;
}
.map-pointer-label .rAlign {
    color: #012995;
    position: absolute;
/*    right: 40px;*/
/*    left: 50px;*/
}

#climberDetailPanel {

/*    background-color: red;*/
}
#climberDetailPanel .grid {
    display: grid;
    grid-template-columns: 25px 25px; /* left: fixed, right: flexible */
    grid-template-rows: repeat(3, 25px); /* 3 rows, each 50px tall */
/*    gap: 10px;*/
    width: 50px;
    height: 75px;
    margin: 0px 5px;
    font-family: sans-serif;
    text-align: center;
/*    background-color: black;*/
}

#climberDetailPanel .left {
    display: flex;
    align-items: center;
    justify-content: center;
}

#climberDetailPanel .graphic, #climberDetailPanel img {
    width: 20px;
    height: 20px;
    margin: 0px auto;
/*    background-color: steelblue;*/
}

#climberDetailPanel .right {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
/*    background-color: yellow;*/
}
#climberDetailPanel .detail_rope {
    /* Keep this below other definitions so it takes precendence */
    display: none;
}


/* modal */
#overlay_modal {
    background-color: rgba(93, 109, 139, 0.28);
/*    background-color: rgba(9, 91, 245, 0.53);*/
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    opacity: 0;
    pointer-events: none;
}
#overlay_modal.clickable {
    /* Make the overlay clickable so it can be closed */
    /* Class to be removed on closedown */
    pointer-events: auto;
/*    background-color: rgba(255, 0, 0, 0.65);*/
}
.modal {
    position: absolute;
    width: 400px;
    height: 600px;
    background-color: white;
    border-radius: 20px;
    box-shadow: -2px 2px 3px rgba(28, 28, 28, 0.85);
    text-align: center;
/*    padding: 20px;*/
/*    border: 1px solid blue;*/
}
.modal-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
#modal_content h1, h2, h3{
    margin-left: 10px;
    margin-right: 10px;
}
#modal_content, .modal {
    pointer-events: all;
}

.dieimgNO {
    width: 100px; /* Set width of the button */
    height: 100px; /* Set height of the button */
    background-image: url('../assets/icons/icon_die_2.png'); /* Add your graphic */
    background-image: url('../assets/dice/diejhroll1.svg'); /* Add your graphic */
    background-size: cover;
    background-size: contain; /* Ensure the image covers the button */
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none; /* Optional: remove default button border */
    cursor: default;

    /* Remove button text */
    text-indent: -9999px; /* Move text far outside view */
    overflow: hidden; /* Prevent text from showing */
    white-space: nowrap; /* Prevent wrapping */
    padding: 0; /* Remove padding to ensure proper alignment */
    margin: 10px;
}
.die {

    width: 100px;
    height: 100px;
/*    background-color: blue;*/
    position: absolute;
    margin-top: 10px;
    left: calc(50% - 55px); /* 55px: half width plus half margin (see main class above) */
}
[id^="modal_content_p"] .die {
/*    background-color: red;*/
    top: 360px;
}

.dieimg {
/*    opacity: 0.5;*/
    position: absolute;
    top: 0px;
    width: 100px;
    height: 100px;
/*    margin: 0px auto;*/
    display: none;
/*    background-color: blue;*/
}
.dieimg:first-child {
    display: block;
}
.choice_option .dieimg {
/*    opacity: 0.5;*/
    position: absolute;
/*    top: 160px;*/
    left: calc(50% - 55px); /* 55px: half width plus half margin (see main class above) */
}
/*
#modal_content_section .choice_option .die {
    top: 360px;
    opacity: 0.4;
}
*/
.dieimg img {
    position: absolute;
    width: 100%;
/*    height: 100%;*/
    margin: 0px auto;
/*    background-color: blue;*/
}
#rollresult {
/*    position: absolute;*/
    text-align: left;
    margin: 0px 40px;
    margin-top: 130px;
/*    background-color: yellow;*/
}
#rollresult p {
    margin: 0px;
}

.preload {
    display: none;
}
.preload img {
    width: 20px;
    height: 20px;

}


.stormoverlay {
    width: 100%;
    min-width: 100%;
    position: absolute;
    z-index: 8;
/*    background-color: rgba(255, 255, 255, 0.44);*/
}
#lightningzone1 {
    z-index: 2;
    opacity: 0.8;
}
#lightningzonetop {
    z-index: 20;
    opacity: 0.2;
}
#lightningzone2 {
    z-index: 20;
    opacity: 0.5;
}
#lightninggfx {
    background-image: url(../assets/weather/lightningglow.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
/*    transform: scaleX(-1);*/
    display: none;
    background-color: transparent;
    z-index: 7;
}
.flip-horizontal {
    transform: scaleX(-1);
    background-position: 0px;
}
.lightningzones {
/*    z-index: 2;*/
    background-color: white;
    display: none;
}

.lightningzones .lightninglight {
    opacity: 0.2;
}
.stormbg {
    background-image: linear-gradient(#010a12, #5a706d);
    z-index: 1;
    opacity: 0;
}

.stormcloud {
    opacity: 0.97;
    position: absolute;
    top: 0px;
    transform: scale(50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Ensures proper centering of text */
}

.stormcloud p {
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin: 0; /* Removes any default margins */
    display: none;
}

.cloudleft {
    transform-origin: left top;
/*    left: -100vw;*/
}
.cloudleftInit {
/*    transform-origin: left top;*/
    left: -100vw;
}
.cloudright {
    transform-origin: right top;
    display: none;
/*    right: -100vw;*/
}
.cloudrightInit {
/*    transform-origin: right top;*/
    right: -100vw;
}
.cloud1 {
    background-image: url(../assets/weather/stormcloud_1.png);
    width: 718px;
    height: 435px;
    top: -50px;
}
.cloud2 {
    background-image: url(../assets/weather/stormcloud_2.png);
    width: 1048px;
    height: 492px;
    top: -20px;
}
.cloud3 {
    background-image: url(../assets/weather/stormcloud_3.png);
    width: 1089px;
    height: 511px;
    top: 400px;
}
.cloud4 {
    background-image: url(../assets/weather/stormcloud_4.png);
    width: 1048px;
    height: 491px;
    top: 90px
}
.cloud5 {
    background-image: url(../assets/weather/stormcloud_5.png);
    width: 1131px;
    height: 659px;
    top: 120px;
}
.cloud6 {
    background-image: url(../assets/weather/stormcloud_6.png);
    width: 1595px;
    height: 748px;
    top: 200px;
}
.cloud7 {
    background-image: url(../assets/weather/stormcloud_7.png);
    width: 1696px;
    height: 795px;
    right: -100vw;
    top: 310px;
/*    left: calc(100vw - 400px);*/
}

.blackout {
    background-color: black;
}
