<div class="modal-body center" id='boost'>
<img class="llama" src="assets/icons/Icons_llama_{{resultString}}.svg"  alt="" aria-hidden="true"/>
<h3 style="text-align: center;"></h3>
<p class="text-left">{{message}}</p>
</div>