<img src="assets/profiles/profileimages_{{theProfile.filename}}.png"/>
<h4>{{theProfile.name}}</h4>
<p>Profile {{theProfile.OPTION}}</p>
<div class="climber-response">
    <img src="assets/icons/Icons_QuoteBefore.png"/>
    <p>I forgot something</p>
    <img src="assets/icons/Icons_QuoteAfter.png"/>
</div>
<h4>Missing equipment</h4>
<p class="text-left">You realise that you have missed some relevant equipment. You turn around, gather it and catch up with your expedition.</p>
<h4>'No contact' time</h4>
<p class="text-left">You must wait at Camp 4 until the timer shows 7 minutes. Once at 7 minutes, you may leave Camp 4 and proceed to the Bottleneck to wait your pre-calculated amount of time.</p>
