<img src="assets/profiles/profileimages_{{theProfile.filename}}.png" class='modal-profile-img' alt="" aria-hidden="true"/>
<h4>{{theProfile.name}}</h4>
<p>Profile {{theProfile.OPTION}}</p>
<div class="climber-response">
    <img src="assets/icons/Icons_QuoteBefore.png" alt="" aria-hidden="true"/>
    <p>I forgot something</p>
    <img src="assets/icons/Icons_QuoteAfter.png" alt="" aria-hidden="true"/>
</div>
<h4>Missing equipment</h4>
<p class="text-left">Upon realising they have forgotten some key equipment, they head back to base and will try to catch up to your expedition as soon as possible.</p>
<h4>Penalty</h4>
<p class="text-left">This delay costs them 7 minutes. Their timer will disappear when they have begun their climb again.</p>
