<h3 style="text-align: center;">{{theProfile.name}} problem (minor)</h3>
<h4>Missing equipment</h4>
<p class="text-left">You realise that you have missed some relevant equipment. You turn around, gather it and catch up with your expedition.</p>
<h4>'No contact' time</h4>
<p class="text-left">You must wait at Camp 4 until the timer shows 7 minutes. Once at 7 minutes, you may leave Camp 4 and proceed to the Bottleneck to wait your pre-calculated amount of time.</p>
