<h2>We Need Your Help!</h2>
<h3>We’ve just seen a terrible rockfall!</h3>
<p>It has hit a climber of the Advance Team. Their helmet has prevented worse trauma, but they are unconscious and still attached to the fixed rope. What should we do?</p>
<button type="button" class="btn k2-modal-btn-link treatleave" id='treat'>Treat them</button>
<button type="button" class="btn k2-modal-btn-link treatleave" id='leave'>Leave them</button>
<h4 class='hOption' id='h_treat'>Treat them</h4>
<h4 class='hOption' id='h_leave'>Leave them</h4>
<div class='die' style='display: none;'>
<!--{{>diceroll}}-->
{{>die}}

</div>
<div id='rollresult'></div>
