<h2>Section problem</h2>
<h3>Injury of a climber on the Advance Team</h3>
<p>A rockfall has hit a climber of the Advance Team. His helmet has prevented worse trauma, but
he is unconscious and still attached to the fixed rope.</p>
<button type="button" class="btn k2-modal-btn-link treatleave" id='treat'>Treat them</button>
<button type="button" class="btn k2-modal-btn-link treatleave" id='leave'>Leave them</button>
<h4 class='hOption' id='h_treat'>Treat them</h4>
<h4 class='hOption' id='h_leave'>Leave them</h4>
<div class='die' style='display: none;'>
<!--{{>diceroll}}-->
{{>die}}

</div>
<div id='rollresult'></div>
