<img class="help-yes" src="assets/icons/Icons_KillerStorm.png" />
<h3 style="text-align: center;">Killer storm!</h3>
<p class="text-left">All climbers MUST reach the summit before descending.</p>
<!--<p class="text-left" style="font-weight: 600;">Use emergency rope</p>-->
<p class="text-left">You have 30 minutes for all of your climbers to to complete their climb.</p>
