<img class="help-yes" src="assets/icons/Icons_KillerStorm.png" />
<h3 style="text-align: center;">Killer storm has hit!</h3>
<p class="text-left">Any climbers remaining on the mountain will have to do their best to survive the storm by erecting a bivouac as quickly as possible.</p>
<!--<p class="text-left" style="font-weight: 600;">Use emergency rope</p>-->
<p class="text-left">We are unable to send out any rescue parties until the storm has cleared.</p>
