<div class="modal-photo-header modal-event">
    <img src="assets/icons/Icons_{{modalIcon}}.png" />
</div>
<!-- Modal body -->
<div class="modal-body center">

    <div class="selfie-photo">
        <img class="selfie-photo-background" src="assets/selfies/{{asset}}" />
    </div>
    <p>{{msg}}</p>

</div>
