<div class="modal-photo-header modal-event">
    <img src="assets/icons/Icons_{{modalIcon}}.png"  alt="" aria-hidden="true"/>
</div>
<!-- Modal body -->
<div class="modal-body center">

    <div class="selfie-photo">
        <img class="selfie-photo-background" src="assets/selfies/{{asset}}"  alt="" aria-hidden="true"/>
    </div>
    <p>{{msg}}</p>

</div>
