<img src="assets/profiles/profileimages_{{filename}}.png" class='modal-profile-img' alt="" aria-hidden="true"/>
<h4>{{name}}</h4>
<p>Profile {{OPTION}}</p>
<div class="climber-response">
    <img src="assets/icons/Icons_QuoteBefore.png" alt="" aria-hidden="true"/>
    <p>I have run out of {{resource}}!</p>
    <img src="assets/icons/Icons_QuoteAfter.png" alt="" aria-hidden="true"/>
</div>
<h4>Adjust resources</h4>
<p>+20 mins penalty</p>
<form id='resourceForm'>

</form>
