<img src="assets/profiles/ProfileImages_{{filename}}.png"/>
<h4>{{name}}</h4>
<p>Profile {{OPTION}}</p>
<div class="climber-response">
    <img src="assets/icons/Icons_QuoteBefore.png"/>
    <p>I have run out of {{resource}}!</p>
    <img src="assets/icons/Icons_QuoteAfter.png"/>
</div>
<h4>Resupply</h4>
<p>+20 mins penalty</p>
<form>
  <div class="resupply">
    <div>
      <img src="assets/icons/Icons_Oxygen.png"/><br/>
      <input type="checkbox" id="oxygen" name="oxygen" value="oxygen">
    </div>
    <div>
      <img src="assets/icons/Icons_Sustenance.png"/><br/>
      <input type="checkbox" id="sustenance" name="sustenance" value="sustenance">
    </div>
    <div>
      <img src="assets/icons/Icons_Rope.png"/><br/>
      <input type="checkbox" id="rope" name="rope" value="rope">
    </div>
</div>
</form>
