<div class="modal-photo-header modal-event">
    <img src="assets/icons/Icons_Camera.png" />
</div>
<!-- Modal body -->
<div class="modal-body center">

    <div class="selfie-photo">
        <img class="selfie-photo-background" src="assets/selfies/SelfieImages_Selfie-BG.png" />
        <div class='selfie-climber'>
        <img class="sNOelfie-climber" src="assets/profiles/profileimages_{{filename}}.png" />
        </div>
    </div>
    <p>{{name}} has sent you a selfie on their climb!</p>

</div>
